/*
 * Colors.
 * Suggestions for names: http://chir.ag/projects/name-that-color/#D15C6D
 */
$colorWhite: #FFFFFF;
$colorGreyMercury: #C7C7C7;
$colorGreyCatskillWhite: #ECF0F5;
$colorGreyGallery: #EAEAEA;
$colorGreyAlabaster: #F9F8F8;
$colorGreyAquaHaze: #F4F6F9;
$colorGrey: #333333;
$colorGreyMineShaft: #282727;
$colorOrangeSerenade: #FFF1E5;
$colorBlueDanube: #588BCB;
$colorBlueZircon: #EBF1FF;
$colorYellowMacaroniCheese: #FFC071;