parameters:
    # ignoreErrors:
    
    treatPhpDocTypesAsCertain: false

    doctrine:
        allowNullablePropertyForRequiredField: true

    cognitive_complexity:
        class: 50
        # function: 8
        function: 15
